:root {
  --font-family: "Inconsolata", monospace;

  --color-bg: rgb(0, 0, 0);
  --color-hover: #b8b8b8;
  --color-icons: #ececec;
  --color-text: #ffffff;
  --color-text-underline: #cecece;
}

html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  cursor: default;
  font-family: var(--font-family);
  background: fixed var(--color-bg);
  text-align: left;
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.5s ease;
}

a:hover {
  color: var(--color-hover);
}