:root {
  --font-family: "Inconsolata", monospace;

  --color-bg: rgb(0, 0, 0);
  --color-hover: #b8b8b8;
  --color-icons: #ececec;
  --color-text: #ffffff;
  --color-text-underline: #cecece;
}

html,
body,
main {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  cursor: default;
  font-family: var(--font-family);
  background: fixed var(--color-bg);
  text-align: left;
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  text-decoration: none;
  border: none;
  color: var(--color-text);
  transition: all 0.5s ease;
}

.text a {
  border-bottom: 2px solid var(--color-text-underline);
}

a:hover {
  color: var(--color-hover);
}

.wrapper {
  cursor: default;
  height: 100%;
  max-width: 550px;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2em;
  margin: 0 auto;
  z-index: 2;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
